div.mosaic-window-controls {
    width: 100%;
  }
  div.mosaic-window-toolbar {
    min-height: min-content;
    padding: 5px;
  }
  .mosaic-window  div.mosaic-window-body {
    overflow: scroll;
  }
  